<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Js Demo</title>
    <style href="style.css" rel="stylesheet"></style>

    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>

    <div id="vue-app">
        <p>
            <!-- calling function from app.js using Vue -->
            {{ greet('Afternoon') }}
        </p>

        <p>
            <!-- fetching variable from app.js using Vue -->
            {{ name }} from {{ country }}
        </p>

        <p>
            <!-- binding data to a field -->
            Visit our website : <a v-bind:href="website">VueJs</a> 
        </p>

        <p>
            <!-- binding data to input field -->
            <input type="text" v-bind:value="name">    
        </p>

        <!-- printing html inside p tag-->
        <p v-html="website2"></p>

        <!-- VueJs Events -->

        <div>
            <button v-on:click="add">ADD</button>
            <p>{{count}}</p>
            <button v-on:click="sub">SUB</button>
        </div>
        
    </div>
    
    <script src="app.js"></script>
</body>
</html>